{
  "checkDatadogCustomMetricsUsage": {
    "DATADOG_API_KEY_SSM_PARAM_NAME": "<The AWS Parameter Store name of your Datadog API Key>",
    "DATADOG_APP_KEY_SSM_PARAM_NAME": "<The AWS Parameter Store name of your Datadog APP Key>",
    "CUSTOM_METRICS_INCLUDED_PER_HOST": "100",
    "SLACK_TOKEN_SSM_PARAM_NAME": "<The AWS Parameter Store name of your Slack token>",
    "SLACK_CHANNEL_ID": "<Your Slack Channel ID>",
    "LOG_LEVEL": "DEBUG"
  }
}
