{
  "checkDatadogCustomMetricsUsage": {
    "DATADOG_API_KEY_SSM": "<The parameter store key of your Datadog API Key>",
    "DATADOG_APP_KEY_SSM": "<The parameter store key of your Datadog APP Key>",
    "CUSTOM_METRICS_INCLUDED_PER_HOST": "100",
    "SLACK_TOKEN_SSM": "<The parameter store key of your Slack token>",
    "SLACK_CHANNEL_ID": "<Your Slack Channel ID>",
    "LOG_LEVEL": "DEBUG"
  }
}
